/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-nov-2017, 11:30:36
    Author     : Jelmer
*/

body, html {
    height: 100vh;
}

.tekstkleur {
    color: black;
}

.banaan {
    background-color: red;
}

.sidenavigatie {
    background-color: grey !important;
    float: left;
}

.s3 {
    background-color: grey;
}

.knoppenlist {
    background-color: red;
    min-width: 500px;
}